<mat-table #table [dataSource]="products">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>Product ID</mat-header-cell>
    <mat-cell *matCellDef="let product">{{product.id}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let product">{{product.name}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
    <mat-cell *matCellDef="let product">{{product.price}}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let product; columns: displayedColumns;" (click)="select(product)"></mat-row>
</mat-table>