<div fxLayout="column" fxLayoutAlign="start stretch">
  <mat-form-field>
    <input matInput placeholder="Customer Name" aria-label="Customer Name" [matAutocomplete]="auto" [formControl]="customerFormControl">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCustomer.bind(this)">
      <mat-option *ngFor="let customer of filteredCustomers | async" [value]="customer.id">
        {{customer.firstName}} {{customer.lastName}}x
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>