<div fxLayout="row" fxLayoutAlign="center stretch" class="orders-container">
  <div fxFlex.xs="90%" fxFlex.sm="80%" fxFlex.md="70%" fxFlex.lg="65%" fxFlex.xl="60%">
    <h2>Orders</h2>
    <div class="actions" fxLayout="row" fxLayoutAlign="end center">
      <button mat-raised-button color="primary" (click)="onAddOrder()">
        <mat-icon>add</mat-icon> Add Order
      </button>
    </div>
    <app-orders-table [ordersView]="orders$ | async" (delete)="onDeleteOrder($event)" (edit)="onEditOrder($event)"></app-orders-table>
  </div>
</div>